@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-primary:#ffffff;
    --color-secondary:#2c3e50;

    --color-bg:var(--color-secondary); 
    --color-bg-secondary:#1abc9c;

    --text-Montserrat: "Montserrat", sans-serif;
    --text-Lato: "Lato", sans-serif;

    --breakpoint-xs: 29.375rem; 
}
@layer base {
    body{
        color: var(--color-primary);
        font-family: var(--text-Montserrat);
    }
    .container{
        @apply mx-auto;
    }
    img{
        @apply w-full block;
    }
    p{
        @apply font-[Lato];
        @apply text-[14px] xs:text-[16px] sm:text-[20px];
    }
     h1{
        @apply uppercase font-semibold;
        @apply text-[44px]  md:text-[54px];  
    }
    h2{
        @apply uppercase font-semibold;
        @apply text-[28px] md:text-[36px];
    }
    h3{
        @apply uppercase font-semibold;
        @apply text-[14px] sm:text-[15px] md:text-[16px] lg:text-[17px] xl:text-[18px];
    }
    a {
        @apply cursor-pointer uppercase font-semibold;
    }
}
@layer utilities{
    .row-between{
        @apply flex justify-between items-center;
    }
    .center{
        @apply flex items-center justify-center;
    }
    .column-center{
        @apply flex flex-col items-center text-center;
    }
    .grid-responsive-3{
        @apply grid grid-cols-1 xs:grid-cols-2 md:grid-cols-3 gap-x-4 gap-y-7;
    }
    .card-img{
        @apply rounded-xl overflow-hidden;
    }
}
@layer components{
    .anchor{
        @apply bg-bg-secondary py-2 px-3 xs:py-3 xs:px-4 rounded-2xl;
    }
}